.sapMText{
	font-family: "Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;	
}

.sapMBar.sapMPageHeader.headerBar{
	/* background-color: rgba(255, 255, 255, 0.3); */
	background: rgba(255, 255, 255, 0.9);
}

.preparePoker{
	color: white;
	padding: 0.875rem 0;
	width: 100%;
}

.playPoker{
	color: white;
	padding: 0.875rem 0;
	width: 100%;
	transition: transform 2s, -webkit-transform 2s;	/* transition: IE10, Opera, Firefox, Chrome 26  */
	-webkit-transition: -webkit-transform 2s; 		/* -webkit-transition: Safari, Android Browser, BB Browser, Chrome 25 */
}

.scorePoker{
	color: white;
	padding: 0.125rem 0;
	width: 100%;	
}

.playPoker:hover{
	background-color: #FFEC8B;   /* #E69A17; */
	transform: rotate(360deg); 						/* transform: IE10, Opera, Firefox */
	-webkit-transform: rotate(360deg); 				/* -webkit-transform: Chrome, Safari, Android Browser, BB Browser */
}

.ruleText{
	font-size: 1.0rem;
	margin: 2rem;
}

.comparisonSeparator{
	background-color: #FFEC8B;
	margin: 0.125rem 0;
}

.playerImage {
	margin: 0 1rem 0 0;
}

html[dir=rtl] .playerImage {
	margin: 0 0 0 1rem;
}

.playerName {
	font: 16px;
	margin-bottom: 4px;
}

.playerValue {
	font: 12px;
	font-weight: normal;
	color: #666666; 
}